
.cell {
    box-sizing: border-box;
    background-color: rgb(209, 170, 207);
    border: 1px solid black;
    width:10%;
    height: 10%;
    float:left;
}

#active {
    box-sizing: border-box;
    background-color: rgb(194, 199, 174);
    border: 1px solid black;
    width:10%;
    height: 10%;
    float:left;
}

.yellow {
    box-sizing: border-box;
    background-color: yellow;
    border: 1px solid black;
    width:10%;
    height: 10%;
    float:left;
}

.green {
    box-sizing: border-box;
    background-color: green;
    border: 1px solid black;
    width:10%;
    height: 10%;
    float:left;
}