$landscape-size: 100vh;
$portrait-size: 100vw;

%basic-cell {
  box-sizing: border-box;
  border: 1px solid black;
  width: 10%;
  height: 10%;
  float:left;
  color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
  bottom: 30%;
  background-color: papayawhip;
  text-align: center
}

.modalButton {
  margin: 3%;
  padding: 2%;
}


.cell {
  @extend %basic-cell;
  background-color: rgb(209, 170, 207);
}

#active {
  @extend %basic-cell;
  background-color: rgb(194, 199, 174);
}

.yellow {
  @extend %basic-cell;
  background-color: yellow;
}

.green {
  @extend %basic-cell;
  background-color: green;
}

@media screen and (orientation: landscape) {
  #table {
    height: $landscape-size;
    width: $landscape-size;
    float: left;
  }

  #stat {
    float: left;
    margin: 20px;
  }
}

@media screen and (orientation: portrait) {
  #table {
    width:$portrait-size;
    height: $portrait-size;
  }
  
  #stat {
    margin: 20px;
  }
}
