$landscape-size: 100vh;
$portrait-size: 100vw;

%basic-cell {
  box-sizing: border-box;
  border: 1px solid #646262;
  width: 10%;
  height: 10%;
  float:left;
  color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
}

.modal {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  background-color: #50b3e7b0;
  text-align: center
}

.modalButton {
  margin: 2%;
  padding: 10px;
  color: black !important;
}


.cell {
  @extend %basic-cell;
  background-color: #c8f2f6;
}

#active {
  @extend %basic-cell;
  background-color: #77e96c;
}

.remaining {
  @extend %basic-cell;
  background-color: #557c95;
}

.visited {
  @extend %basic-cell;
  background-color: #abc6c8;
}

@media screen and (orientation: landscape) {
  #table {
    height: $landscape-size;
    width: $landscape-size;
    float: left;
  }

  #stat {
    float: left;
    margin: 30px;
    clear: right;
  }

  #topScore {
    float: left;
    margin: 30px;
 }
}

@media screen and (orientation: portrait) {
  #table {
    width:$portrait-size;
    height: $portrait-size;
  }
  
  #stat {
    margin: 30px;
    clear: right;
  }

  #topScore {
    float: left;
    margin: 30px;
 }
}

.invisible {
  display: none
 }  
 
 .visible {
   background-color: rgb(167, 171, 175);
   padding: 5px;
 }

 table {
   border-top: 1px solid black;
 }
 
 td {
   padding: 15px;
   vertical-align: top;
   text-align: center;
 }

 p {
   margin: 5px;
 }

 .plus {
   border: none;
   color: green;
   font-weight: bold;
  }
  
 .hide {
  border: none;
  color: #d35a5a;
  font-weight: bold;
}

 h3 {
   color: #d35a5a;
   margin-top: 0;
 }
